<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Usamos la cámara para capturar documento y selfie en la verificación de pago en efectivo.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Usamos Face ID para confirmar tus pagos de forma segura.</string>
	<key>GIDClientID</key>
	<string>309268628843-vafbp3o66ul2ea1g2bo6h9bpraqk5sj0.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.309268628843-vafbp3o66ul2ea1g2bo6h9bpraqk5sj0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.llego.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>llego</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
